.titleSettings {
    margin: 27px 0 0 23px;
}

.subSettings {
    /*margin-top: 16px;*/
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    height: 32px;
}

.subSettings:hover {
    background-color: #EEF7FC;
}

.subSettingsActive p {
    color: #0682DD;
}

.subSettings p {
    position: absolute;
    left: 56px;
    margin-bottom: 0;
}

.subSettingsActive svg path {
    fill: #0682DD;
}

.subSettings svg {
    position: absolute;
    left: 23px;
}